# ==========================================
# Globale Konfiguration
# Diese Datei nach .env kopieren und anpassen
# ==========================================

# ------------------
# Backend
# ------------------

# PostgreSQL-Verbindung
# Format:
# postgresql://BENUTZER:PASSWORT@HOST:PORT/DATENBANK
DATABASE_URL=postgresql://casino_online_db_user:casino_online_db_password@dpg-d86ndaugvqtc73dsma0g-a:5432/casino_online_db

# Erlaubte Frontend-URL (CORS)
FRONTEND_URL=https://DEIN-PROJEKT.vercel.app

# Laufzeitumgebung
# Werte: development | production
NODE_ENV=production

# ------------------
# Frontend
# ------------------

# URL des Backends
# Lokal:
# http://localhost:3000
# Produktion:
# https://dein-backend.vercel.app
VITE_API_URL=https://DEIN-BACKEND.vercel.app
